/detalle_contrato.jasper
/contrato.jasper
/reporte_caja_diaria_subreport1.jasper
/reporte_caja_diaria_subreport3.jasper
/reporte_caja_diaria.jasper
/subreporte_egresos.jasper
/subreporte_ingresos.jasper
/boleta_venta_recibo.jasper
/cm_p2.jasper
/reporte_cargo_anterior.jasper
/garantia_mobiliaria.jasper
/reporte_comision_oro.jasper
/reporte_remate.jasper
/sbs.jasper
/reporte_contrato_x_tipo.jasper
/boleta_venta.jasper
/reporte_remate_oro.jasper
/reporte_vitrina.jasper
/reporte_superintendencia.jasper
/voucher_cancelacion.jasper
/cargo.jasper
/detalle_cargo.jasper
/estadistico_empenos.jasper
/reporte_asistencia.jasper
/reporte_contrato_auto_activo.jasper
/reporte_compra_oro.jasper
/reporte_fundicion.jasper
/reporte_ganancia.jasper
/contrato_mobiliario.jasper
/reporte_contrato_x_tipo_global.jasper
/reporte_vitrina_oro.jasper
/cm_p1.jasper
/reporte_separacion.jasper
/boleta_compra_oro.jasper
/reporte_contrato_casa_activo.jasper
/reporte_comision.jasper
/boleta_venta_legal.jasper
/documento_envio.jasper
/reporte_inventario.jasper
/reporte_venta.jasper
/reporte_mensual_empenios.jasper
