/detalle_contrato.jasper
/contrato.jasper
/reporte_caja_diaria_subreport1.jasper
/reporte_caja_diaria_subreport3.jasper
/reporte_caja_diaria.jasper
/subreporte_egresos.jasper
/subreporte_ingresos.jasper
